<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <title><%= title%></title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <img src="/images/myntra.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <form action="/search" method="post">
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder = "Search" id="search" name="search"/>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
    </div>


    </body>

</html>