<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
            <img src="/images/myntra.jpg" height="200"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <img src="<%= data.styleImages.default.imageURL %>" alt="<%= data.productDisplayName %>" height="360"/>
            <label><%= data.productDisplayName %></label>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <br /><br/><br/><br /><br/><br/><br /><br/><br/>
            <div class="price">
                <label>Price: </label>
                <span style="text-decoration: line-through;">
                    <%= data.price %>
                </span>
            </div>

            <div class="discount-price">
                <label>Discounted Price: </label> <%= data.discountedPrice %>
            </div>
            <div>
                <form action="/bought" method="get">
                    <button class="btn btn-success">Buy this product</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>

</html>