<html>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-5">
            <img src="/images/myntra.jpg" height="200"/>
        </div>
    </div>
</div>
 <div class="container">
        <h1>You have successfully bought this product and will receive it on July 32nd,2015</h1>
</div>
</body>
</html>
