<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-md-4">
    </div>
    <div class="col-md-5">
        <img src="/images/myntra.jpg" height="200"/>
    </div>
</div>
<div class="container">
    <div class="row">
        <% for(var i=0; i < data.length; i++) {%>
        <div class="col-xs-6 col-md-3">
            <a href="/product/<%= data[i].id.split('_')[2] %>" class="thumbnail">
                <img src="<%- data[i].search_image %>" alt="<%= data[i].stylename %>" />
                <label><%- data[i].stylename %></label>
            </a>
        </div>
        <% } %>
    </div>
</div>
</body>

</html>